<div id="details-tittle">WICHTIGER HINWEIS:</div>
    <div id="details">
        Pflegekennzeichnungssymbole sind eingetragene Warenzeichen im Besitz von GINETEX. Jede Verwendung dieser Symbole
        bedarf der vorherigen Genehmigung durch GINETEX. Weitere Informationen finden Sie hier: www.ginetex.net
    </div>
<div id="footer-main">
    
    <div id="footer-logo"><img src="../../../assets/Logo Footer.svg" alt=""></div>
    <div class="texts">Kontakt</div>
    <div class="texts">Impressum</div>
    <div class="texts">Nutzungsbedingungen</div>
    <div class="texts">Datenschutzerklärung</div>
    <div class="texts">Cookies</div>
    <div class="texts">Rezepturinformationen</div>
    <div class="texts">Netiquette</div>
    <div class="texts" id="follow">FOLLOW US</div>
    <div id="footer-icons">
        <img src="../../../assets/facebook.png" alt="facebook">
        <img src="../../../assets/instgram.png" alt="instgram">
        <img src="../../../assets/youtube.png" alt="youtube">
    </div>
</div>
<div id="henkel">
    <span>© 2021</span>
    <span>Henkel AG & Co. KGaA</span>
</div>
