<app-header></app-header>
<div id="second-page-main">
    <div id="second-page-tittle">
        Das bedeuten die
        Zeichen auf deinem Etikett:
    </div>
    <div id="notices">
        <div class="notice">
            <div class="icon">
                <img src="../../../assets/second-page/Union (4).svg" alt="">
            </div>
            <div class="notice-text">
                <div><b>Washing temperature</b></div>
                30°C is the recommended. You can wash this item with similar colours.
            </div>
        </div>
        <div class="notice">
            <div class="icon">
                <img src="../../../assets/second-page/Union (3).svg" alt="">
            </div>
            <div class="notice-text">
                <div><b>Do not bleach</b></div>
                Don’t use bleach to wash.
            </div>
        </div>
        <div class="notice">
            <div class="icon">
                <img src="../../../assets/second-page/Union (2).svg" alt="">
            </div>
            <div class="notice-text">
                <div><b>Do not tumble dry</b></div>
                Drip dry on a clothes horse or outdoors on a line.
            </div>
        </div>
        <div class="notice">
            <div class="icon">
                <img src="../../../assets/second-page/Union.svg" alt="">
            </div>
            <div class="notice-text">
                <div><b>Cold iron if needed</b></div>
                Iron cold or low just if it’s needed.
            </div>
        </div>
        <div class="notice">
            <div class="icon">
                <img src="../../../assets/second-page/Union (1).svg" alt="">
            </div>
            <div class="notice-text">
                <div><b>Do not dry clean</b></div>
                Don’t use dry cleaning.
            </div>
        </div>
    </div>
    <div id="unknown">
        <div id="unknown-main">
            <div id="unknown-top">
                Folgende Produkte und Servicedienstleistungen
                können wir dir empfehlen.
            </div>
            <div id="unknown-subtop">
                Damit werden dir deine Lieblingsstücke
                noch so lange wie möglich Freude bereiten.
            </div>
            <div class="subwindow">
                <div class="subwindow-tittle">Produkte & Service</div>
                <div class="show">
                    <div class="show-img">
                        <img  id="show-img-first" src="../../../assets/second-page/show-img.png" alt="">
                    </div>
                    <div class="show-text">
                       <div class="show-text-tittle">Cold Power 2in1 </div> 
                        Für weiße Wäsche / bunte / schwarze 
                    </div>
                </div>
                <div class="left-button"> < </div>
                
                <div class="right-button"> > </div>
            </div>
            <div id="washer-icon">
                <img src="../../../assets/second-page/Group 588.svg" alt="">
            </div>
            <div id="unknown-bottom">
                <div>Was bedeuten die anderen </div>
                <div>Zeichen auf deinen Etiketten?</div>
                Der Label-Scanner sagt es dir!
    
            </div>
        </div>
    </div>
    <div id="button-one">
        <span></span>
        Weiteres Etikett scannen
    </div>
    <div id="button-two">
        Etikett aus Fotos auswählen
    </div>
    <div id="button-three">
        Benutze unsere Pflegeetikett Übersicht > 
    </div>
    <div id="middle-part">
        <div id="middle-img"><img src="../../../assets/second-page/charachters_round_version02 1.png" alt=""></div>
        <div id="middle-tittle">
            Bleib sauber, werde Mitglied und genieße alle Vorteile von Frag Team Clean
        </div>
        <div id="middle-lists">
            <div class="middle-list"><span></span>
                <div>
                    Gratis Proben und Gutscheine
                    </div>
            </div>
            <div class="middle-list"><span></span>
                <div>Exklusive Artikel, Tips & Tricks
                   </div>
            </div>
            <div class="middle-list"><span></span>
                <div> Kommentiere deine Lieblingsartikel 
                    </div>
            </div>
            <div class="middle-list"><span></span>
                <div>Werde Produkttester
                   </div>
            </div>
            <div class="middle-list"><span></span>
                <div> Bleib immer auf dem Laufenden</div>
            </div>
        </div>
        <div id="middle-button">
            <div>Jetzt registrieren und
            <span style="color: #2371E2;"> alle Vorteile </span>
            genießen
            </div>
            
        </div>
    </div>
    <div id="bottom-part">
        <div id="bottom-main">
            <img src="../../../assets/second-page/sustainability-bg.svg" alt=""> 
            <div id="bottom-main-bottom"></div>
            <div id="bottom-main-content">
                <div id="bottom-tittle">Nachhaltigkeit liegt dir 
                    am Herzen?
                </div>
                <div id="bottom-subtittle" >Uns auch! Damit wir unsere Umwelt und unsere Wäsche noch besser schonen können, haben wir ein paar Artikel für dich zur Inspiration.</div>    
                <div class="subwindow">
                    <div class="subwindow-tittle">Artikel Nachhaltigkeit</div>
                    <div class="show">
                        <div class="show-img">
                            <img src="../../../assets/second-page/bottom.png" alt="">
                        </div>
                        <div class="show-text">
                           <div class="show-text-tittle">Wie trennst du deinen Müll richtig? </div> 
                            
                        </div>
                    </div>
                    <div class="left-button"> < </div>
                    
                    <div class="right-button"> > </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>